@import "tailwindcss";

:root {
  --background: #F7F7F7;
  --foreground: #1A1A1A;
  --border: #E5E5E5;
  --subtext: rgb(105, 105, 105);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #F7F7F7;
    --foreground: #1A1A1A;
  }
}

body {
  min-width: 500px;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 36px;
  font-family: Arial, Helvetica, sans-serif;
}

h5 {
  font-size: 1px;
  font-family: Arial, Helvetica, sans-serif;
}

h6 {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.subheader {
  font-size: 36px;
}

.button {
  border: black;
  border-style: solid;
  border-width: .1;
  background-color: #333333;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button:hover {
  border: black;
  border-style: solid;
  border-width: .1;
  background-color: #1A1A1A;
  color: white;
}

.navbar {
  border-bottom: solid var(--border) 0.125;
}

.registration-box {
  border: var(--border);
  border-style: solid;
  border-width: .1;
  background-color: var(--background);
}

.input {
  border-style: solid;
  border: #0a0a0a;
}